/* Common Shared Styles */
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header Styles */
.header {
    height: 800px;
    background-image: url('images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
.header-div {
    padding: 300px 30px 300px 950px;
    text-align: right;
}
.header-title {
    font-size: 40px;
    width: 300px;
    margin-left: 250px;
    margin-bottom: 30px;
}
.description {
    font-size: 20px;
    width: 550px;
    margin-bottom: 30px;
    color: #474747;
}
#primary-btn{
    color: #FFFFFF;
    background-color: #F15B22;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    width: 100px;
    margin-right: 315px;
}

/* Main Styles */
main section{
    margin-top: 150px;
    margin-bottom: 150px;
}

/* My failures of previous years S*/
.my-previous-years-failures{
    display: flex;
    gap: 100px;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    
}
.profile-image img{
    height: 600px ;
    width: 500px;
    background-color: antiquewhite;
    background-size: cover;
    border-radius: 50%;
}
.section-title{
    font-size: 40px;
    width: 300px;
    margin-bottom: 30px;
}
.section-content{
    font-size: 20px;
    width: 500px;
    color: #757575;
    margin-bottom: 30px;
}
.failures-content ul{
    list-style: none;
    padding-left: 0;
    color: #757575;
}

/* My Plans Styles */
.my-plans-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.my-plans-container{
    display: flex;
    justify-content: space-between; 
    margin: 0px 400px;
}
.plans-title{
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
#plans-description{
   color: #474747; 
   font-size: 20px;
   margin-top: 20px;
   text-align: center;
}
#plans-img-1{
    margin-left: 90px;
}
#plans-img-2{
    margin-left: 20px;
}
#plans-img-3{
    margin-left: 50px;
}
#plans-img-4{
    margin-left: 35px;
}

/* Positive mindset */
.positive-mindset{
    height: 200px;
    width: 1140px;
    background-image: url('images/gradient3.png'), url('images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 80px 100px 20px 80px ;
}
#mindset-title{
    font-size: 40px;
    width: 500px;
    color: #FFFFFF;
    margin-bottom: 30px; 
}
#call-now-btn{
    font-size: 20px;
    font-weight: 600;
    background-color: #FFFFFF;
    color: #F15B22;
    border: 0;
    border-radius: 5px;
    padding: 15px;
}